In [2]:
## import libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier

In [3]:
## get data using pandas

# Adelie penguin data 
adelie = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-pal.219.3&entityid=002f3893385f710df69eeebe893144ff"

# Gentoo penguin data 
gentoo = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-pal.220.3&entityid=e03b43c924f226486f2f0ab6709d2381"

# Chinstrap penguin data 
chinstrap = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-pal.221.2&entityid=fe853aa8f7a59aa84cdd3197619ef462"

# use pandas to get dataset using the provided URL
adelieCsv = pd.read_csv(adelie)
gentooCsv = pd.read_csv(gentoo)
chinstrapCsv = pd.read_csv(chinstrap)

# merge the 3 datasets in one using the concatenate pandas function
frames = [adelieCsv, gentooCsv, chinstrapCsv]
data = pd.concat(frames)
#shape = data.shape
#print(shape)

In [4]:
data

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,2007-11-11,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,2007-11-11,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,2007-11-16,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,2007-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,2007-11-16,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,PAL0910,64,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N98A2,Yes,2009-11-19,55.8,19.8,207.0,4000.0,MALE,9.70465,-24.53494,NaN
64,PAL0910,65,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N99A1,No,2009-11-21,43.5,18.1,202.0,3400.0,FEMALE,9.37608,-24.40753,Nest never observed with full clutch.
65,PAL0910,66,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N99A2,No,2009-11-21,49.6,18.2,193.0,3775.0,MALE,9.46180,-24.70615,Nest never observed with full clutch.
66,PAL0910,67,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N100A1,Yes,2009-11-21,50.8,19.0,210.0,4100.0,MALE,9.98044,-24.68741,NaN
67,PAL0910,68,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N100A2,Yes,2009-11-21,50.2,18.7,198.0,3775.0,FEMALE,9.39305,-24.25255,NaN

In [23]:
# drop unnecesary columns 
df = data.drop(columns=['studyName', 'Sample Number', 'Stage', 'Individual ID', 'Clutch Completion', 'Date Egg', 'Delta 15 N (o/oo)',
                       'Delta 13 C (o/oo)', 'Comments'])

df

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...,...
63,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,55.8,19.8,207.0,4000.0,MALE
64,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,43.5,18.1,202.0,3400.0,FEMALE
65,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,49.6,18.2,193.0,3775.0,MALE
66,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,50.8,19.0,210.0,4100.0,MALE
67,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,50.2,18.7,198.0,3775.0,FEMALE

In [30]:
#check for missing values 
df1 = df[df.isna().any(axis=1)]
df1

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,37.5,18.9,179.0,2975.0,NaN
26,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,44.5,14.3,216.0,4100.0,NaN
66,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.2,14.4,214.0,4650.0,NaN
104,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,47.3,13.8,216.0,4725.0,NaN
119,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,NaN,NaN,NaN,NaN,NaN

In [35]:
#drop useless rows that dosen´t contain any info
df2 = df.drop([3, 119])
df2 = df2.reset_index(drop=True) 
df2

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...,...
334,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,55.8,19.8,207.0,4000.0,MALE
335,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,43.5,18.1,202.0,3400.0,FEMALE
336,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,49.6,18.2,193.0,3775.0,MALE
337,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,50.8,19.0,210.0,4100.0,MALE
338,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,50.2,18.7,198.0,3775.0,FEMALE

In [37]:
#check for missing values after dropping rows
df3 = df2[df2.isna().any(axis=1)]
df3

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
7,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,34.1,18.1,193.0,3475.0,NaN
8,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,42.0,20.2,190.0,4250.0,NaN
9,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,37.8,17.1,186.0,3300.0,NaN
10,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,37.8,17.3,180.0,3700.0,NaN
46,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,37.5,18.9,179.0,2975.0,NaN
175,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,44.5,14.3,216.0,4100.0,NaN
215,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,46.2,14.4,214.0,4650.0,NaN
253,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,47.3,13.8,216.0,4725.0,NaN