In [23]:
## import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing

In [3]:
## get data using pandas

# Adelie penguin data 
adelie = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-pal.219.3&entityid=002f3893385f710df69eeebe893144ff"

# Gentoo penguin data 
gentoo = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-pal.220.3&entityid=e03b43c924f226486f2f0ab6709d2381"

# Chinstrap penguin data 
chinstrap = "https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-pal.221.2&entityid=fe853aa8f7a59aa84cdd3197619ef462"

# use pandas to get dataset using the provided URL
adelieCsv = pd.read_csv(adelie)
gentooCsv = pd.read_csv(gentoo)
chinstrapCsv = pd.read_csv(chinstrap)

# merge the 3 datasets in one using the concatenate pandas function
frames = [adelieCsv, gentooCsv, chinstrapCsv]
data = pd.concat(frames)
#shape = data.shape
#print(shape)

In [12]:
data.head(5)

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,2007-11-11,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,2007-11-11,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,2007-11-16,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,2007-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,2007-11-16,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [29]:
# drop unnecesary columns according to the instructions 

#dataframe = data.drop(columns=['studyName', 'Sample Number', 'Region', 'Island', 'Stage', 'Individual ID', 'Clutch Completion', 
# 'Date Egg', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'])

df = data.drop(columns=['studyName', 'Sample Number', 'Region', 'Island', 'Stage', 'Individual ID', 'Clutch Completion', 
                        'Date Egg', 'Culmen Depth (mm)','Body Mass (g)' ,'Sex','Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'])

df

,Species,Culmen Length (mm),Flipper Length (mm)
0,Adelie Penguin (Pygoscelis adeliae),39.1,181.0
1,Adelie Penguin (Pygoscelis adeliae),39.5,186.0
2,Adelie Penguin (Pygoscelis adeliae),40.3,195.0
3,Adelie Penguin (Pygoscelis adeliae),NaN,NaN
4,Adelie Penguin (Pygoscelis adeliae),36.7,193.0
...,...,...,...
63,Chinstrap penguin (Pygoscelis antarctica),55.8,207.0
64,Chinstrap penguin (Pygoscelis antarctica),43.5,202.0
65,Chinstrap penguin (Pygoscelis antarctica),49.6,193.0
66,Chinstrap penguin (Pygoscelis antarctica),50.8,210.0
67,Chinstrap penguin (Pygoscelis antarctica),50.2,198.0

In [30]:
#check for missing values 
df1 = df[df.isna().any(axis=1)]
df1

,Species,Culmen Length (mm),Flipper Length (mm)
3,Adelie Penguin (Pygoscelis adeliae),NaN,NaN
119,Gentoo penguin (Pygoscelis papua),NaN,NaN

In [31]:
#drop useless rows that dosen´t contain any info
df2 = df.drop([3, 119])
df2 = df2.reset_index(drop=True) 
df2

,Species,Culmen Length (mm),Flipper Length (mm)
0,Adelie Penguin (Pygoscelis adeliae),39.1,181.0
1,Adelie Penguin (Pygoscelis adeliae),39.5,186.0
2,Adelie Penguin (Pygoscelis adeliae),40.3,195.0
3,Adelie Penguin (Pygoscelis adeliae),36.7,193.0
4,Adelie Penguin (Pygoscelis adeliae),39.3,190.0
...,...,...,...
334,Chinstrap penguin (Pygoscelis antarctica),55.8,207.0
335,Chinstrap penguin (Pygoscelis antarctica),43.5,202.0
336,Chinstrap penguin (Pygoscelis antarctica),49.6,193.0
337,Chinstrap penguin (Pygoscelis antarctica),50.8,210.0
338,Chinstrap penguin (Pygoscelis antarctica),50.2,198.0

In [34]:
#split dataset into varibles , where y is the varible I need to predict
dataset = np.array(df2)

x = dataset[:, 1:3] #x are the Culmen Length (mm) and Flipper Length (mm) columns
y = dataset[:, 0]   #y is the penguin species

In [ ]:
test_size = 0.2
xTrain, xTest, yTrain, yTest = train_test_split(x, y,test_size = test_size)